{% extends 'base.html' %}
{% load static %}
{% block content %}



<html>   
<body>
	<!-- ========================= SECTION MAIN ========================= -->
	<section class="section-intro padding-y-sm">
		<div class="container">
		
		<div class="intro-banner-wrap">
			<img src="{% static './images/banners/1.jpg' %}" class="img-fluid rounded">
		</div>
		
		</div> <!-- container //  -->
		</section>
		<!-- ========================= SECTION MAIN END// ========================= -->

		<section class="section-intro padding-y-sm">
			<div class="container">
<header class="section-heading">
	<a href="./store.html" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular Books</h3>
</header><!-- sect-heading -->


	
<div class="row">
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img  src="{% static 'images/items/thriller.jpg' %}" style="height:200px;width:200px;margin:10;" > </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">It ends with us</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img  src="{% static 'images/items/12539454-L.jpg' %}"  style="height:200px;width:200px;margin:10;" > </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Rhyming Words</a>
				<div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img  src="{% static 'images/items/8863687-L.jpg' %}"  style="height:200px;width:200px;margin:10;" > </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Python</a>
				<div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img height="200px" width="200px"  src="{% static 'images/items/10451472-L (1).jpg' %}"  style="height:200px;width:200px;margin:10;" > </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Django for Beginners</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img   src="{% static 'images/items/11976903-L.jpg' %}"  style="height:200px;width:200px;margin:10;" > </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Baseball Coloring Book</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img  src="{% static 'images/items/7990188-L.jpg' %}"  style="height:200px;width:200px;margin:10;" > </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Keeper Lost Cities Neverseen</a>
				<div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img  src="{% static 'images/items/thriller.jpg' %}"  style="height:200px;width:200px;margin:10;" > </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">The Eyes of Darkness</a>
				<div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img  src="{% static 'images/items/classic.jpg' %}"  style="height:200px;width:200px;margin:10;" > </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">IT</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock %}